@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parcial 1</h1>
    <p class="lead">Hola este es el entregable del parcial #1</p>
    <hr />
    <p class="lead">
        Mil gracias
        <img src="~/Assets/ok-hand-dark-skin-tone.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            Acceda a la información de Cursos para crear, editar y borrar cursos.
        </p>
        <p><a class="btn btn-default" href="~/Courses/Index">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>Acceda a la información de estudiantes para crear, editar y borrar estudiantes.</p>
        <p><a class="btn btn-default" href="~/Students/Index">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instuctors</h2>
        <p>Acceda a la información de instructores para crear, editar y borrar instructores.</p>
        <p><a class="btn btn-default" href="~/Instructor/Index">Leer mas &raquo;</a></p>
    </div>
</div>